---
import Layout from "@layouts/Layout.astro";
import Header from "@components/common/Header.astro";
import Footer from "@components/common/Footer.astro";

interface Object {
  [key: string]: string;
}

const siteUrl: string = "https://ht-code.jp";
const name: string = "404 NOT FOUND | ";
const description: string = "";
const title: string = name;

const meta: Object = {
  viewport: "width=device-width",
  "format-detection": "telephone=no",
  robots: "noindex",
  "twitter:card": "summary_large_image",
  "google-site-verification": "",
};

const ogp: Object = {
  title: title,
  // description: description,
};

---

<Layout title={title} meta={meta} ogp={ogp}>
  <Header />
  <main id="main" class="mx-auto max-w-4xl px-5">
    <h2 class="text-4xl text-center font-bold">404 NOT FOUND</h2>
    <p class="mt-8 md:text-center">ページが存在しません。URLが間違っている可能性があります。</p>
    <div class="mt-12 flex justify-center text-center"><a href="/" class="block bg-gray-200 max-w-72 w-full rounded text-black font-medium py-2 hover:bg-[#2ea7e0] transition-colors">トップページへ</a></div>
  </main>
  <Footer class="bg-main-color-bg" />
</Layout>

<style is:global>
  svg {
    fill: currentColor;
  }
</style>