---
import { Picture, BackgroundImage, BackgroundPicture } from "astro-simple-art-direction";

interface Props {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---
<footer id="footer" {...props} class="py-12" class:list={[className]}>
  <p class="text-xs text-center">© 2024 ht-CODE / Hollyteds</p>
</footer>
<style lang="scss"></style>

